.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  width: "18rem";
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}


.boton {
  color: white !important;
  background-color: #5a5b5c !important;
  border-color: #5a5b5c !important;
  margin-right: 10px;
  margin-left: 10px;
}

.imagen {
  
  height: 430px;
  border-radius: 10% !important
 
}

.color {
  color: white !important;
  background-color: rgb(31, 70, 128) !important;
  border-color: rgb(31, 70, 128)!important;
  width: 18rem !important;
  margin: 30px !important;
  text-align: center !important;
}

.titulo {
  font-size: 30px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}


