.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  width: "18rem";
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}


.boton {
  color: white !important;
  background-color: #5a5b5c !important;
  border-color: #5a5b5c !important;
  margin-right: 10px;
  margin-left: 10px;
}

.imagen {
  height: 430px;
}

.color {
  color: white !important;
  background-color: rgb(146, 146, 146) !important;
  border-color: rgba(146, 146, 146) !important;
  width: 18rem !important;
  margin: 30px !important;
  text-align: center !important;
}

.titulo {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
